<mat-dialog-content>
  <h2 mat-dialog-title>Add Room</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of typeOptions" [value]="type">{{type}}</mat-option>
        </mat-select>
        <mat-error *ngIf="taskForm.get('type')?.invalid && taskForm.get('type')?.touched">
          Please select a valid type
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Room Number</mat-label>
        <input matInput formControlName="roomNumber">
        <mat-error *ngIf="taskForm.get('roomNumber')?.invalid && taskForm.get('roomNumber')?.touched">
          Please enter a valid number
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput formControlName="userId">
        <mat-error *ngIf="taskForm.get('userId')?.invalid && taskForm.get('userId')?.touched">
          Please enter a valid user ID
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="data" [disabled]="taskForm.invalid || roomNumberExists" *ngIf="!data.isUpdate">Add</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="data" [disabled]="taskForm.invalid || roomNumberExists" *ngIf="data.isUpdate">Update</button>
</mat-dialog-actions>
