<mat-card class="card-content" (click)="clickedRoom()">
  <mat-card-header class="roomNumber">
    <mat-card-title class="titleroom">{{ this.room.roomNumber }}
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editRoom(room)">Edit</button>
        <button mat-menu-item (click)="delete()">Delete</button>
      </mat-menu>
    </mat-card-title>
    <button (click)="clickedMenu()" mat-icon-button (onMenuClose)="this.Menu=false" [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="roomCardContent">
    <div class="subtitle">
      <mat-card-subtitle class="subtitle-text-room">Room Number: {{ this.room.type }}</mat-card-subtitle>
      <mat-card-subtitle class="subtitle-text-room">User ID: {{ this.room.userId }}</mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>
