
<div class="cardContent">
  <div class="header">
    <h2 class="title">Item: {{ data.itemTitle}}</h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <p >{{ data.itemDescription }}</p>
    <p >Item ID: {{ data.id }}</p>
  </div>
  <hr style="height:2px;border-width:0;color:gray;background-color:black">
  <p>Brand: {{data.brandName}}</p>
  <hr style="height:2px;border-width:0;color:gray;background-color:black">
  <section class="subtitle">Stock Level:{{data.itemQuantity}}</section>
  <hr style="height:2px;border-width:0;color:gray;background-color:black">
</div>

